RewriteEngine On
Redirect 301 /articles/konsultatsiya-notariusa-v-kyyevi-kiev https://kudrya.pp.ua/konsultatsiya-notariusa-v-kyyevi-kiev.html
Redirect 301 /articles/konsultatsiya-notariusa-v-kiyeve https://kudrya.pp.ua/ru//articles/konsultatsiya-notariusa-v-kiyeve-ru.html
